{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner" id="header" class="container clearfix">{% include header.html %}</header>

<section id="content" class="container clearfix">
    {{ content | expand_urls: root_url }}
</section>

<footer id="footer" class="clearfix" role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
