<div class="container">

    <div class="three-fourth">

    </div><!-- end .three-fourth -->

    <div class="one-fourth last">

        <span class="title">Stay connected</span>

        <ul class="social-links">
          <li class="twitter"><a href="https://twitter.com/erbetowski">Twitter</a></li>
          <li class="github"><a href="https://github.com/wojtekerbetowski">GitHub</a></li>
          <li class="rss"><a href="http://erbetowski.pl/atom.xml">RSS</a></li>
          <li class="facebook"><a href="https://www.facebook.com/wojtekerbetowski">Facebook</a></li>
          <li class="googleplus"><a href="https://plus.google.com/+WojtekErbetowski">Google Plus</a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/profile/view?id=45616048">LinkedIn</a></li>
        </ul><!-- end .social-links -->

    </div><!-- end .one-fourth.last -->

</div><!-- end .container -->

