<a href="/" id="logo">
    <img src="/img/logo.png" alt="SmartStart">
</a>

<nav id="main-nav">

    <ul>
        <li {% if page.current_navigation == 'home' %}class="current"{% endif %}>
            <a href="/" data-description="All starts here">Home</a>
        </li>
        <li {% if page.current_navigation == 'aboutme' %}class="current"{% endif %}>
            <a href="/aboutme" data-description="Choose a perspective">About me</a>
            <ul>
                <li><a href="/aboutme">In general</a></li>
                <li><a href="/aboutme/comunity">Community Activist</a></li>
                <li><a href="/aboutme/programmer">Programmer</a></li>
                <li><a href="/aboutme/organiser">Organiser</a></li>
                <li><a href="/aboutme/techlead">Technical Leader</a></li>
            </ul>
        </li>
        <li {% if page.current_navigation == 'blog' %}class="current"{% endif %}>
            <a href="/blog/" data-description="What we think">Blog</a>
            <ul>
              {% for post in site.posts limit: 8 %}
              <li>
                <a href="{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
              </li>
              {% endfor %}
              <li>
                <a href="/blog">...</a>
              </li>

            </ul>
        </li>
        <li>
            <a href="#" data-description="My path">Portfolio</a>
            <ul>
                <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                <li><a href="single-project.html">Single Project</a></li>
            </ul>
        </li>
        <li>
            <a href="contact-us.html" data-description="Enquire here">Contact</a>
        </li>
    </ul>

</nav><!-- end #main-nav -->

