<a href="/" id="logo">
    <img src="/img/logo.png" alt="SmartStart">
</a>

<nav id="main-nav">

    <ul>
        <li {% if page.current_navigation == 'aboutme' %}class="current"{% endif %}>
            <a href="/aboutme">About me</a>
        </li>
        <li {% if page.current_navigation == 'blog' %}class="current"{% endif %}>
            <a href="/blog/">Blog</a>
        </li>
        <li {% if page.current_navigation == 'portfolio' %}class="current"{% endif %}>
            <a href="#" data-description="Portfolio">My path</a>
            <ul>
                <li>
                  <a href="/portfolio/projects/">Projects</a>
                </li>
                <li>
                  <a href="/portfolio/talks">Public speaking</a>
                </li>
                <li><a href="/portfolio/events">Events</a></li>
            </ul>
        </li>
        <li {% if page.current_navigation == 'contact' %}class="current"{% endif %}>
            <a href="/contact">Contact me</a>
        </li>
    </ul>

</nav><!-- end #main-nav -->

