---
layout: blog
header_title: "Welcome to my blog"
---

{% assign index = true %}
{% for post in paginator.posts %}
<article class="entry clearfix">

  <a href="{{ root_url }}{{ post.url }}" title="{{ post.title }}">
    <img src="{{ post.thumbnail }}" alt="{{ post.title }}" class="entry-image">
  </a>

  <div class="entry-body">

    <a href="{{ root_url }}{{ post.url }}">
      <h1 class="title">{{ post.title }}</h1>
    </a>

    {% capture description %}{% if post.description %}{{ post.description }}{% else %}{{ post.content | post.raw_content }}{% endif %}{% endcapture %}
    <p>{{ description | strip_html | condense_spaces | truncate:400 }}</p>

  </div><!-- end .entry-body -->

  <div class="entry-meta">

    <ul>
      <li><a href="{{ root_url }}{{ post.url }}"><span class="post-format ">Permalink</span></a></li>
      <li><span class="title">Posted:</span> <a href="{{ root_url }}{{ post.url }}">{{ post.date }}</a></li>
      <li><span class="title">Tags:</span> <a href="#">???</a></li>
      <li><span class="title"><a href="{{ root_url }}{{ post.url }}#disqus_thread">{num}</a></span></li>
    </ul>

  </div><!-- end .entry-meta -->

</article>
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
  <li class="prev"><a href="{{paginator.next_page}}">Previous &rarr;</a></li>
  {% endif %}
  <a href="/blog/archives">Blog Archives</a>
  {% if paginator.previous_page %}
  <li class="next"><a href="{{paginator.previous_page}}">&larr; Next</a></li>
  {% endif %}
</div>
