---
layout: page
title: "Talks Portfolio"
date: 2014-05-02 19:39
comments: false
sharing: false
footer: true
---

<header class="page-header">

  <h1 class="page-title">Sharing what I've learned</h1>

</header><!-- end .page-header -->

<section id="portfolio-items" class="clearfix">

  {% for project in site.pages %}
  {% if project.url contains 'portfolio/talks' and project.url != page.url %}
  <article class="one-half">

    {% if project.video_url %}
      <a href="{{ project.video_url }}" class="iframe video" title="Talk recording">
        <img src="{{ project.thumbnail }}" alt="">
      </a>
    {% else %}
      <a href="{{ project.thumbnail }}" class="single-image" title="Project image">
        <img src="{{ project.thumbnail }}" alt="Project image">
      </a>
    {% endif %}

    <a href="{{ project.url }}" class="project-meta">
      <h5 class="title">{{ project.title }}</h5>
      <span class="categories">&nbsp;</span>
    </a>

  </article><!-- end .one-half (Altered) -->
  {% endif %}
  {% endfor %}

</section><!-- end #portfolio-items -->

